
.theme {
    font-family: 'Space Mono', monospace;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    background: transparent;
    color: white;
    border: 2px solid #0dd0d6;
    border-radius: 2px;
    
}
.movable {
    position: absolute;
}

icon {
    text-shadow: none !important;
}

#planet-label {
    padding: 1em;
    position: absolute;
    right: 2em;
    bottom: 2em;
}

#gui {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
}

#resources-info {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    text-align: right;
}
#resources-info * {
    border: none;
    font-size: 1.5em;
}
#resources-info icon {
    font-size: 1em;
}

button {
    outline: none;
    transition: 200ms all;
}

button:hover {
    background: rgba(0, 127, 127, .4)
}

#loading-screen {
    background:black;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
}