
::selection {
    color: none;
    background: none;
}

.theme {
    font-family: 'Space Mono', monospace;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    background: transparent;
    color: white;
    border: 2px solid #0dd0d6;
    border-radius: 2px;
}
.noborder {
    border: none;
    outline: none;
}
.movable {
    position: absolute;
}

icon {
    text-shadow: none !important;
}

#planet-label {
    padding: 1em;
    position: absolute;
    right: 2em;
    bottom: 2em;
}

#gui {
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
}

#resources-info {
    display: inline-block;
    position: absolute;
    right: .3em;
    top: .5em;
}
#resources-info td {
    border: none;
    font-size: 1.5em;
    text-align: right;
    padding: .1em;
}
#resources-info icon {
    font-size: 1em;
}
#resources-info img {
    width: 1.2em;
}

button {
    outline: none;
    transition: 200ms all;
}

button:hover {
    background: rgba(0, 127, 127, .4)
}

.disabled {
    border: none;
    color: #a0a0a0;
}
.disabled:hover {
    background: transparent;
}

#loading-screen {
    background:black;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
}

#backdrop {
    background: rgba(0, 0, 0, .75);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}
.page {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
}
.page div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-menu button { 
    font-size: 2em;
    display: block;
    margin-top: 0.5em;
    width: 30%;
}
#container span {
    color: white;
    text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
    font-size: 4em;
    border: none;
    font-weight: bold;
}

#join-room-content {
    top: 20%;
    transform: none;
    font-size: 2em;
}
#room-code {
    color: purple;
    text-shadow: 0 0 5px purple, 0 0 10px purple;
}
#join-room-content * {
    margin-bottom: .5em;
}
#join-room-content button {
    font-size: 1em;
}

#enter-nickname-content * {
    margin: .125em;
    font-size: 1.25em;
    padding: .25em;
}
#enter {
    border-color: blue;
    margin-top: 1.5rem;
    font-size: 2rem;
}
#enter:hover {
    background: rgba(0, 0, 255, .4)
}
.input-group {
    white-space: nowrap;
}
.input-group * {
    display: inline-block;
}
#players span:hover {
    text-decoration: line-through;
}